*{
    margin: 0%;
}
body{
      background-image: url(cherry3.jpeg);
      background-size: cover;
      background-position:center center;
      background-repeat: no-repeat;
      

}
img{
    height: 250px;
    width: 250px;
    

}
.resume{
    font-size: 24px;
}

.cn{
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin-top: 20px;
}
p{
    font-size: 20px;
}


.name{
    padding-left:20px;
    align-content: center;
}
p{
    padding: 20px;
}
.resume-button {
    background-color:white; 
    border: none; 
    color:black; 
    padding: 15px; 
    text-align: center; 
    text-decoration: none; /
    display: inline-block; /
    font-size: 16px; 
    margin: 20px; 
    cursor: pointer; 
    border-radius: 12px;
    
}
a:hover{
    cursor: pointer;
    color:#ddd;
    background-color: black;
}
    
.projects{
    padding: 20px;

}
.project1{
    position: relative;
   border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    }
.project2{
    position: relative;
   border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

}
.project3{
    position: relative;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.project4{
    position: relative;
    border: 2px solid #333;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    margin-top: 2px;
    cursor: pointer;
}
h2{
    margin-top: 5px;
    
}
.skill{
    padding: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 400px; 
    font-size: 20px;
}
.certificate{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.certificate{
img {
    width: 75%; 
    height: auto; 
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover; 
    border-radius: 15px;
    border: 2px solid #ddd;
}
}

.contact{
    padding: 20px;
    text-align: center;
}
.gmail{
    img{
    height:24px;
    width: 24px;
    margin-right: 8px;
    
    }

}
.call{
    img{
    height:30px;
    width: 30px;
    align-items: center;
 }

}
.linkedin{
    img{
    height:30px;
    width: 30px;
    align-items: center;
    }

}






